APP_ENV=debug
APP_URL=http://localhost

CLIENT_PORT=

COOKIE_NAME=
COOKIE_VALUE=

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=golang
DB_USERNAME=root
DB_PASSWORD=
DB_LOC=Asia/Makassar

MEILISEARCH_URL=http://localhost:7700
MEILISEARCH_KEY=

PORT=8000

REDIS_CLIENT=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=

SESSION_DOMAIN=localhost

CF_BUCKET_NAME=
CF_ACCOUNT_ID=
CF_ACCESS_KEY_ID=
CF_SECRET_ACCESS_KEY=
CF_DEFAULT_REGION=auto